@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");

* {
  font-family: "Roboto Mono", monospace;
}




/*NAVIGATION STYLING*/
#navbar {
  position: fixed;
  width: 200px;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: #000000;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  flex: 1 1 0;
}

#logo-and-name-module {
  height: 35%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#logo-and-name-module h1 {
  font-size: 150%;
  text-align: center;
  margin: 0;
}

#logo-png {
  width: 40%;
  max-height: 40%;
  margin: 0 auto;
}

#navigation-links {
  height: 50%;
  background-color: #090909;
}

#navigation-links ul {
  padding: 0;
  height: 100%;
  /*display: flex;
  flex-direction: column;
  justify-content: space-evenly;*/
  margin: 0;
}

#navigation-links li {
  list-style: none;
  width: 100%;
}

#navigation-links a {
  text-decoration: none;
  color: #ffffff;
}

#social-links-section {
  height: 15%;
}

#social-links-section ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}

#social-links-section li {
  list-style: none;
}

#social-links-section i {
  font-size: 150%;
}

.fa-github-alt,
.fa-instagram {
  color: #ff6347;
}

.fa-linkedin {
  color: #ffc04a;
}

@media (max-width: 811px) {
  #navbar {
    display: none;
    width: 0px;
    height: 0px;
  }

  main {
    width: 100% !important;
    margin: 0 !important;
  }
}

/*MAIN CONTENT STYLING*/
main {
  color: #ffffff;
  position: relative;
  margin-left: 200px;
  padding: 25px;
  background-color: #1e1e1e;
  width: calc(100% - 200px);
  height: auto;
}

/*STYLING FOR ALL SECTIONS*/
section {
  height: auto;
  padding: 30px;
  background: #090909;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.col {
  margin: 0;
  padding: 0;
}

.about-row,
.services-row,
.blurbs-row,
.portfolio-row,
.portfolio-mockup-row,
.contact-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  padding: 30px;
}

@media (max-width: 811px) {

  .about-row,
  .services-row,
  .portfolio-mockup-row,
  .contact-row {
    height: auto;
    flex-direction: column;
  }

  .portfolio-row,
  .blurbs-row {
    flex-direction: row;
    flex-wrap: nowrap;
  }

}

/*STYLING FOR ALL BUTTONS*/
.button {
  text-decoration: none;
  color: #ffc04a;
  border: 2px solid #ffc04a;
  padding: 15px 30px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 300ms ease 0ms;
}

.button:hover {
  color: #ffffff;
  border: 2px solid transparent;
  padding: 15px 30px;
  background: linear-gradient(45deg,
      rgba(255, 99, 71, 0.7), rgba(255, 192, 74, 0.7));
}



/*ABOUT SECTION STYLING*/
#about-section {
  margin-bottom: 25px;
}

#about-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
}

#about-section h3 {
  font-size: 250%;
}

#about-section p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 40px;
}

.about-img-div {
  width: 400px;
  height: 500px;
  background-image: linear-gradient(45deg,
      rgba(255, 99, 71, 0.2), rgba(255, 192, 74, 0.2)),
    url(./images/jlgoldtooth.jpg);
  background-size: cover;
  background-position: top;
  border: 7px solid #000000;
  box-sizing: border-box;
  z-index: 3;
  background-repeat: no-repeat;
}


/*.about-orange-square {
  position: absolute;
  margin-top: 170px;
  margin-left: 190px;
  width: 250px;
  height: 250px;
  background: rgba(255, 99, 71, 0.3);
}*/
.about-images-col {
  display: flex;
  justify-content: center;
}

@media (max-width: 811px) {
  .about-description-col {
    order: 2;
  }

  #about-section h2 {
    font-size: 90%;
    text-align: center;
  }

  #about-section h3 {
    font-size: 200%;
    text-align: center;
    margin-top: 0;
  }

  #about-section p {
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
  }

  .about-section-button {
    display: block !important;
    width: fit-content;
    margin: 0 auto;
  }

  .about-img-div {
    width: 300px;
    height: 400px;
    z-index: 3;
    background-position: top center;
    background-repeat: no-repeat;
  }

  .about-images-col {
    order: 1;
    margin-bottom: 50px;
  }

  .about-orange-square {
    display: none;
  }
}

/*SERVICES SECTION STYLING - DESKTOP*/
#services-section {
  margin-bottom: 25px;
}

.services-row {
  padding-bottom: 0;
}

#services-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
  text-align: center;
}

#services-section h3 {
  font-size: 250%;
  text-align: center;
}

#services-section h4 {
  font-size: 20px;
  padding-bottom: 0px;
}

.services-description {
  font-size: 16px;
  font-weight: 100;
  text-align: center;
}

.services-blurbs {
  text-align: left;
  padding: 25px;
  border-radius: 3px;
  height: 100%;
  background: #1e1e1e;
  transition: all 300ms ease 0ms;
}

.services-blurbs:hover {
  background: linear-gradient(45deg,
      rgba(255, 99, 71, 0.7), rgba(255, 192, 74, 0.7));
}

.blurbs-row {
  align-items: stretch !important;
  padding-top: 0;
}

.fa-code,
.fa-pen-fancy,
.fa-gears {
  background-color: rgba(255, 99, 71, 0.7);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  margin-bottom: 2rem;
  border-radius: 50%;
  color: #000000;
  font-size: 35px;
  display: flex!important;
  justify-content: center;
  align-items: center;
}

.blurb-descriptions {
  font-weight: 400;
}

#services-button {
  display: block !important;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 811px) {
  #services-section h2 {
    font-size: 90%;
    text-align: center;
  }

  #services-section h3 {
    font-size: 200%;
    text-align: center;
    margin-top: 0;
  }

  .services-description {
    font-size: 15px !important;
  }

  .blurbs-row {
    flex-direction: column;
  }

  .services-column-2 h4 {
    font-size: 16px;
    text-align: left;
    color: #ff6347;
  }

  .blurb-descriptions {
    font-size: 12px !important;
    text-align: left;
  }

  .services-blurbs {
    padding: 10px;
    width: 100%!important;
  }

  #development-blurb {
    margin-bottom: 20px;
  }

  #design-blurb {
    margin-bottom: 20px;
  }

  .blurbs-col {
    width: 100%;
  }

  #services-button {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .fa-code,
  .fa-pen-fancy,
  .fa-gears {
    margin-bottom: 8px;
    font-size: 25px;
  }
}


/*PORTFOLIO SECTION*/
#portfolio-section {
  margin-bottom: 25px;
}

.portfolio-row {
  padding-bottom: 0;
}

#portfolio-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
  text-align: center;
}

#portfolio-section h3 {
  font-size: 200%;
  text-align: center;
}

#arrows-column {
  display: flex;
  justify-content: space-around;
}

.portfolio-row {
  padding-bottom: 0px;
}

.portfolio-arrows {
  font-size: 200%;
  text-decoration: none;
  color: #ffc04a;
}

.portfolio-arrows:hover {
  color: #ff6347;
}

/*SLIDER ROW*/
.portfolio-mockup-row {
  height: auto;
}

.portfolio-mockup-column {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mockup-column-one {
  text-align: left;
}

.mockup-column-one p {
  font-weight: 100;
  background: #1e1e1e;
  padding: 50px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: -100px;
  margin-left: -20px;
  z-index: 5;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}

.project-titles h4 {
  font-size: 14px;
  color: #ffc04a;
  font-weight: 400;
  text-transform: uppercase;
}

.project-titles h5 {
  font-size: 150%;
}

.technologies-used h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffc04a;
}

.fa-html5,
.fa-js-square,
.fa-css3-alt,
.fa-bootstrap,
.fa-react, .fa-wordpress {
  color: #cccccc;
  font-size: 24px;
}

/*PROJECT IMAGE COLUMN*/
/*linear-gradient(45deg,
  rgba(255, 99, 71, 0.4), rgba(255, 192, 74, 0.4)),*/
#project-img-1 {
  padding: 250px 0px 250px 0px;
  margin: 0;
  background-image: url(./images/coffee-landing-page.jpg);
  background-position: center;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
}

#project-img-2 {
  padding: 250px 0px 250px 0px;
  margin: 0;
  background-image: url(./images/first-weather-project-cropped.png);
  background-position: center;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
}

#project-img-3 {
  padding: 250px 0px 250px 0px;
  margin: 0;
  background-image: url(./images/react-weather-project-cropped.png);
  background-position: center;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: contain;
}

#project-img-4 {
  padding: 250px 0px 250px 0px;
  margin: 0;
  background-image: url(./images/react-dictionary.jpg);
  background-position: center;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

#project-img-5 {
  padding: 250px 0px 250px 0px;
  margin: 0;
  background-image: url(./images/casa-mia-group-featured-image.jpg);
  background-position: center;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.view-project-link a {
  text-transform: uppercase;
  color: #ff6347;
  font-weight: 400;
  text-decoration: none;
}

.view-project-link i {
  color: #ffc04a;
  opacity: 0;
}

.view-project-link:hover i {
  opacity: 1;
  transition: all 300ms ease 0ms;
}

.view-project-link a:hover {
  color: #ffc04a;
  transition: all 300ms ease 0ms;
}

/*TABLET STYLING - PORTFOLIO*/
@media (max-width: 811px) {

  /*PORTFOLIO SECTION*/
  #portfolio-section h2 {
    text-transform: uppercase;
    font-size: 90%;
  }

  #portfolio-section h3 {
    font-size: 175%;
  }

  .portfolio-arrows {
    font-size: 175%;
  }

  /*SLIDER ROW*/
  .portfolio-mockup-row {
    height: auto;
  }

  .portfolio-mockup-column {
    text-align: left;
  }

  .mockup-column-one {
    background-color: #1e1e1e;
    padding: 50px;
  }

  .mockup-column-one p {
    margin: 25px 0 25px 0;
    padding: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0);
  }

  .project-titles h4 {
    font-size: 14px;
    color: #ffc04a;
    font-weight: 400;
    text-transform: uppercase;
  }

  .project-titles h5 {
    font-size: 150%;
  }

  .technologies-used h4 {
    font-size: 14px;
    text-transform: uppercase;
    color: #ffc04a;
  }

  .fa-html5,
  .fa-js-square,
  .fa-css3-alt,
  .fa-bootstrap,
  .fa-react {
    color: #cccccc;
    font-size: 22px;
  }

  .view-project-link {
    display: block;
    margin-top: 25px;
  }

  .mockup-column-two {
    display: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
  }

  /*PROJECT IMAGE COLUMN*/
  #project-img-1 {
    padding: 0;
    margin: 0;
  }

  #project-img-2 {
    padding: 250px 0px 250px 0px;
    margin: 0;
    background-image: url(./images/first-weather-project-cropped.png);
    background-position: center;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #project-img-3 {
    padding: 250px 0px 250px 0px;
    margin: 0;
    background-image: url(./images/react-weather-project-cropped.png);
    background-position: center;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  #project-img-4 {
    padding: 250px 0px 250px 0px;
    margin: 0;
    background-image: url(./images/react-dictionary.jpg);
    background-position: center;
    border-radius: 3px;
    background-size: contain;
    background-repeat: no-repeat;
  }

}


/*CONTACT SECTION STYLING*/
#contact-section {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./images/phx-az-map-2.png);
  background-size: cover;
  background-position: center;
}

/*CONTACT FORM*/
#contact-section {
  height: auto;
}

#contact-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
  text-align: center;
}

#contact-section h3 {
  font-size: 200%;
  margin-bottom: 20px;
  text-align: center;
}

form {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
  max-width: 50%;
  padding: 40px;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 auto;
}

.form-group {
  margin: 0 auto 15px auto;
  display: block;
}

label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ff6347;
  margin-bottom: 5px;
}

#name,
#email {
  width: 100%;
  height: 40px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

textarea {
  width: 100%;
  margin-bottom: 15px;
  background-color: #1e1e1e;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}

#submit {
  background-color: #000000;
  display: block !important;
  width: fit-content;
  margin: 30px auto 0px auto;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffc04a;
}

input[type=email]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffc04a;
}

#message:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffc04a;
}

/*CONTACT SECTION-TABLET STYLING*/
@media (max-width: 811px) {
  #contact-section h2 {
    font-size: 90%;
  }

  .contact-col {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  form {
    max-width: 100%;
    padding: 30px;
    margin: 0 auto;
  }

  .form-group {
    margin: 0 auto 15px auto;
    display: block;
  }

  label {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 400;
    color: #ff6347;
    margin-bottom: 5px;
  }

  #name,
  #email {
    width: 100%;
    height: 40px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }

  textarea {
    width: 100%;
    margin-bottom: 15px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 3px;
    border: none;
  }
}

.hidden {
  display: none;
}