@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;700&display=swap");
* {
  font-family: "Roboto Mono", monospace;
}

#navbar {
  position: fixed;
  width: 200px;
  top: 0px;
  left: 0px;
  height: 100%;
  border-right: solid;
  border-color: #000000;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}

#logo-and-name-module {
  height: 35%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#logo-and-name-module h1 {
  font-size: 150%;
  text-align: center;
  margin: 0;
}
#logo-png {
  width: 40%;
  max-height: 40%;
  margin: 0 auto;
}

#navigation-links {
  height: 50%;
  background-color: #090909;
}
#navigation-links ul {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
}
#navigation-links li {
  list-style: none;
  width: 100%;
}
#navigation-links a {
  text-decoration: none;
  color: #ffffff;
}
#social-links-section {
  height: 15%;
}
#social-links-section ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
#social-links-section li {
  list-style: none;
}
#social-links-section i {
  font-size: 150%;
}

.fa-github-alt,
.fa-codepen {
  color: #ff6347;
}
.fa-linkedin {
  color: #ffc04a;
}

main {
  color: #ffffff;
  position: absolute;
  margin-left: 200px;
  padding: 25px;
  background-color: #1e1e1e;
  width: calc(100% - 200px);
  height: auto;
}
section {
  height: 700px;
  padding: 0px 0px;
  background: #090909;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#about-section {
  margin-bottom: 25px;
}
#about-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
}
#about-section h3 {
  font-size: 250%;
}
#about-section p {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 30px;
}
.about-img-div {
width: 400px;
height: 400px;
background: url(./images/JG-logo-transparent.png),
rgba(0, 0, 0, 0.47);
background-size: contain;
border: 7px solid #000000;
box-sizing: border-box;
z-index: 3;
background-position: center;
background-repeat: no-repeat;
}
.about-orange-square {
  position: absolute;
  margin-top: 140px;
  margin-left: 190px;
  width: 300px;
  height: 300px;
  background: rgba(255, 99, 71, 0.3);
}
.about-images-col {
  display: flex;
  justify-content: center;
} 
.about-description-col {
  padding: 50px;
}

.about-row,
.services-row {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 50px;
}

.col {
  margin: 0;
}
#services-section {
  margin-bottom: 25px;
}
#services-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;;
}
#services-section h3 {
  font-size: 250%;
}
#services-section p {
  font-size: 16px;
  font-weight: 100;
}
.services-column {
  height: 100%;
}
#development-blurb {
  background: rgba(40, 6, 0, 0.5);
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(255, 99, 71, 0.45);
  padding: 20px;
}
#design-blurb {
  background: rgba(29, 19, 0, 0.5);
  border: 4px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 5px 15px rgba(255, 192, 74, 0.45);
  padding: 20px;
}
#support-blurb {
    background: rgba(40, 6, 0, 0.5);
    border: 4px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 5px 15px rgba(255, 99, 71, 0.45);
    padding: 20px;
    width: 100%;
}

/*process section*/

#process-section {
  background-color: rgb(44, 44, 44);
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.process-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0;
  text-align: center;
}
#process-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
  padding: 0;
  margin: 0;
}
#process-section h3 {
  font-size: 250%;
  padding: 0;
  margin: 0;
}
#process-section p {
  font-size: 100%;
  font-weight: 100;
  margin-bottom: 30px;
}
code {
  color: #ff6347;
}

/*portfolio section */
#portfolio-section {
  background-color: rgb(54, 54, 54);
  margin-bottom: 25px;
}
.portfolio-row {
  padding-top: auto;
  padding-bottom: auto;
}
#portfolio-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
}
#portfolio-section h3 {
  font-size: 200%;
}
.portfolio-arrows {
  font-size: 300%;
  text-decoration: none;
  color: #ffc04a;
}
.portfolio-arrows:hover {
  color: #ff6347;
}
.portfolio-mockup-row {
  height: auto;
}
.portfolio-mockup-column {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.mockup-column-one {
  text-align: left;
}
.mockup-column-one p {
  font-weight: 100;
}
.project-titles h4 {
  font-size: 14px;
  color: #ff6347;
  font-weight: 400;
  text-transform: uppercase;
}
.project-titles h5 {
  font-size: 150%;
}
.mockup-column-two {
  padding: 0;
  margin: 0;
}
.technologies-used h4 {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffc04a;
}
.technologies-used span {
  font-size: 24px;
}
.fa-html5, .fa-js-square {
  color: #cccccc;
}
.fa-css3-alt {
  color: #cccccc;
}
#coffee-landing-page-project-photo {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/*contact section*/
#contact-section {
  background-color: rgb(44, 44, 44);
}
.button {
  text-decoration: none;
  color: #ffc04a;
  border: 2px solid #ffc04a;
  padding: 15px 30px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block!important;
}
.button:hover {
  color: #ff6347;
  border-color: #ff6347;
  background-color: rgba(255, 99, 71, 0.1);
}

/*contact form*/
#contact-section {
  height: auto;
}

#contact-section h2 {
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ffc04a;
}
#contact-section h3 {
  font-size: 200%;
  margin-bottom: 20px;
}

form {
  background-color: #090909;
  color: #ffffff;
  max-width: 50%;
  padding: 40px;
  border-radius: 0px;
  line-height: 1.4;
}

.form-group {
  margin: 0 auto 15px auto;
  display: block;
}

label {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: 400;
  color: #ff6347;
  margin-bottom: 5px;
}
#name,
#email {
  width: 100%;
  height: 40px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
textarea {
  width: 100%;
  margin-bottom: 15px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 3px;
  border: none;
}
#submit {
  background-color: #000000;
}
#submit:hover {
  background-color: rgba(255, 99, 71, 0.1);
}
